// Typo
$mainFont: "Rubik", Helvetica, sans-serif;

// Font Sizes
$font-size-2xs: 12px;
$font-size-xs: 13px;
$font-size-ms: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 25px;
$font-size-2xl: 30px;
$font-size-3xl: 40px;

$font-size-desktop-s: 20px;
$font-size-desktop-m: 24px;
$font-size-desktop-xl: 35px;
$font-size-desktop-2xl: 45px;

// MQ
$desktopWidth: 1280px;
$smDesktopWidth: 1120px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// UI color
$ui-500: #354a64;
$ui-400: #506f95;
$ui-300: #7996b9;
$ui-200: #d7dfea;
$ui-100: #f5f7fa;
$white: #ffffff;

// Accient color
$accient-500: #044a9f;
$accient-400: #1563c1;
$accient-300: #3787e9;
$accient-200: #dae9fb;
$accient-100: #f0f7ff;

// Primary Color
$primary-500: #37094e;
$primary-400: #6d2490;
$primary-300: #cd99e5;
$primary-200: #efdef7;
$primary-100: #f9f3fc;

// Success Color
$success-500: #0a5f39;
$success-400: #2bab72;
$success-300: #99e6c3;
$success-200: #def7ec;
$success-100: #f1fdf8;

// Error Color
$error-500: #5f0a32;
$error-400: #ab2b67;
$error-300: #e699bd;
$error-200: #f7deea;
$error-100: #fdf1f7;
