.burger {
  width: 24px;
  align-self: center;
  position: relative;
}

.burger-item {
  height: 0.1em;
  background: $accient-500;
  margin-bottom: 4px;
  /*   autoprefixes */
  transition: 0.3s ease-out;

  border-radius: 10px;
}

.open .burger-item:first-child {
  /*   autoprefixes */
  transform: scale(0);
}

.burger-item:last-child {
  margin-bottom: 0;
}

.open .burger-item:last-child {
  /*   autoprefixes */
  transform: scale(0);
}

.open .burger-item--middle {
  /*   autoprefixes */
  transform: rotate(135deg);
}

.open .burger-item--middle::before {
  content: "";
  position: absolute;

  width: 24px;
  height: 0.1em;
  background: #044a9f;
  margin-bottom: 4px;
  transform: rotate(90deg);
}

