.footer-sub {
  // @include list-reset;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  @media (max-width: $tableWidth) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }

  &__link {
    @include menu-small;
    text-transform: uppercase;
    color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    min-height: 40px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 6px;

    &--accient {
      border: 2px solid rgba(218, 233, 251, 0.25);
      border-radius: 6px;
    }

    &:hover {
      color: $accient-200;
    }

    @media (max-width: $tableWidth) {
      margin-bottom: 16px;
    }
  }

  &__thumb {
    position: relative;
    left: -8px;
    fill: transparent;
    stroke: $accient-300;
  }
}

.footer-sub__link:hover .footer-sub__thumb{
  stroke: $accient-200;
}