.header-menu {
  // display: flex;
  //   flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;

  @media (max-width: $smDesktopWidth) {
    background-color: $accient-300;
  }

  &__logo {
    @media (max-width: $smDesktopWidth) {
      display: none;
    }
  }
}
