.login {
  max-width: 206px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  &__btn {
    @include menu-small;
    text-align: center;
    min-width: 88px;
    text-transform: uppercase;
    color: $accient-400;
    border: 1px solid $ui-200;
    box-sizing: border-box;
    border-radius: 6px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 25px;
    padding-right: 25px;
    &--accient {
      color: $white;
      background-color: $accient-400;
      border: 1px solid transparent;
    }
  }
}

@media (max-width: $smDesktopWidth) {
  .login {
    &__btn {
      min-width: 130px;
      background-color: $white;
      border: 1px solid #d7dfea;
      &--accient {
        background-color: #1563c1;
        border: 1px solid transparent;
      }
    }
  }
}
