.more-link {
  @include indent-reset;
  @include menu-small;
  text-transform: uppercase;
  color: $accient-400;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;

  margin-top: 12px;
  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  &--accient {
    color: $white;
    width: 120px;
  }
  &__thumb {
    fill: $accient-400;
    &:hover {
      fill: $accient-500;
    }
    &--white {
      fill: $white;
    }
  }
  fill: $accient-400;
  &:hover {
    fill: $accient-500;
  }
}
