.more-link {
  @include indent-reset;
  @include menu-small;
  text-transform: uppercase;
  text-align: right;
  color: $accient-400;
  position: relative;
  &__thumb {
    position: absolute;
    top: -6px;
    right: -30px;
  }
}
