.nav {
  &__wrapper {
    @include main-wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $smDesktopWidth) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      background-color: $accient-400;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 670px;

    @media (max-width: $smDesktopWidth) {
      max-width: unset;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__list-link {
    @include menu-big;
    color: $ui-300;
    text-transform: uppercase;
    &:hover {
      color: $ui-400;
    }
    @media (max-width: $smDesktopWidth) {
      @include h3-mobile;
      color: $white;
      width: 100%;
      text-align: center;
      padding-top: 24px;
      padding-bottom: 24px;

      border-bottom: 1px solid $accient-100;
      &:nth-child(odd) {
        border-right: 1px solid $accient-100;
      }
    }
  }
}

// @media (max-width: $smDesktopWidth) {
//   .nav {
//     &__list-link {
//       &:nth-child(2n) {
//         border-right: 1px solid red;
//       }
//     }
//   }
// }
