.page-header {
  background-color: $accient-300;
  &__wrapper {
    @include main-wrapper;
  }
  &__row-1 {
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 21px;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: $smDesktopWidth) {
      justify-content: center;
      padding-top: 60px;
      padding-bottom: 0;

      display: grid;
      width: 100%;
      max-width: unset;
      grid-template-columns: repeat(1, 2fr);
    }
  }
}

@media (max-width: $smDesktopWidth) {
  .page-header {
    &__col-1 {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &__col-2 {
      border-bottom: 1px solid white;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}
