.page-footer {
  background-color: $accient-500;
  padding-top: 50px;
  padding-bottom: 70px;

  &__wrapper {
    @include main-wrapper;

    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: $tableWidth) {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }
}
