.page-title {
  padding-top: 143px;
  margin-bottom: 45px;

  // &__inner {
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   justify-content: flex-start;
  //   margin-left: 59px;
  //   // @media (max-width: $smDesktopWidth) {
  //   //   margin: 0 auto;
  //   // }
  // }
  &__inner-img {
    position: relative;
    top: 3.5px;
  }

  &__content-wrapper {
    @include main-wrapper;
  }
  &__content {
    width: 83%;
    background-color: rgba(239, 246, 255, 0.904);
    padding-top: 36px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    @media (max-width: $smDesktopWidth) {
      width: 100%;
      border-top-left-radius: unset;
      border-top-right-radius: unset;
    }
  }

  &__heading {
    @include indent-reset;
    @include text-body;
    text-transform: uppercase;
    color: $accient-400;
    margin-left: 59px;
    @media (max-width: $smDesktopWidth) {
      @include menu-small;
    }
    @media (max-width: $phoneWidth) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  &__caption {
    @include indent-reset;
    @include h2;
    text-transform: uppercase;
    color: $accient-500;
    margin-left: 59px;
    @media (max-width: $smDesktopWidth) {
      @include h2-mobile;
    }
    @media (max-width: $phoneWidth) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
