.services {
  margin-bottom: 24px;

  &__list {
    line-height: 24px;
    margin-bottom: 29px;
    padding-left: 15px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    // padding-left: 15px;

    @media (max-width: $smDesktopWidth) {
      display: none;
    }
  }

  &__sublist {
    margin-top: 0;

  }

  &__sublist-item {
    color: $ui-500;
  }

  &__item-title {
    // color: $ui-500;
    @include menu-small;
    margin-bottom: 8px;
  }

  &__item-thumb{
    fill: $accient-400;
  }

  &__list-link {
    @include menu-small;
    color: $ui-400;
    margin-bottom: 4px;
  }

  &__add-item {
    display: flex;
    flex-direction: column;
  }

  &__item-link {
    padding-top: 21px;
    padding-bottom: 21px;
    text-align: center;
    background-color: $accient-100;

    @include text-list-small;
    color: $accient-400;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}