.sub-menu {
  @include list-reset;
  display: flex;
  flex-direction: row;
  // max-width: 486px;
  width: 486px;
  justify-content: space-around;
  align-items: baseline;
  &--narrow {
    width: 200px;
  }
  // &__item {
    // max-width: 130px;
    // width: 100%;
    // box-sizing: border-box;

    // padding-top: 8px;
    // padding-bottom: 8px;
    // padding-right: 16px;
    // text-align: right;

    // border: 2px solid rgba(218, 233, 251, 0.25);
    // box-sizing: border-box;
    // border-radius: 6px;
  // }
  &__link {
    @include menu-small;
    text-transform: uppercase;
    color: #fff;
    display: block;
    // max-width: 130px;
    // width: 100%;
    box-sizing: border-box;
    // padding-top: 8px;
    // padding-bottom: 8px;
    // padding-right: 16px;
    // border: 2px solid rgba(218, 233, 251, 0.25);
    // box-sizing: border-box;
    // border-radius: 6px;
  }
}
