.sub-menu {
  @include list-reset;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  &__thumb {
    position: relative;
    left: -8px;
    fill: transparent;
    stroke: $accient-400;

    &:hover {
      stroke: $white;
    }

    @media (max-width: $smDesktopWidth) {
      display: flex;
      flex-direction: column;
      align-items: center;
      // margin-bottom: 16px;
      width: unset;
    }

    @media (max-width: $smDesktopWidth) {
      display: none;
    }
  }

  &__link {
    @include menu-small;

    text-transform: uppercase;
    color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    text-align: center;
    border: 2px solid transparent;

    position: relative;

    &:hover {
      color: $accient-200;
    }

    @media (max-width: $smDesktopWidth) {
      min-height: unset;
    }

    &--accient {
      border: 2px solid rgba(218, 233, 251, 0.25);
      border-radius: 6px;

      &:hover {
        background-color: $accient-400;
        border: 2px solid $accient-400;
        color: $white;
      }
    }

    &--hidden {
      @media (max-width: $smDesktopWidth) {
        display: none;
      }
    }
  }
}

.sub-menu__link:hover .sub-menu__thumb {
  stroke: #fff;
}




.page-header__col-1 .sub-menu {
  width: 450px;

  @media (max-width: $smDesktopWidth) {
    width: unset;
  }

  &__link {
    padding-top: 8px;
    padding-bottom: 8px;
    @media (max-width: $smDesktopWidth) {
      padding-top: 20px;
      padding-bottom: 20px;

    }

    &--active {
      border: 2px solid rgba(218, 233, 251, 0.25);
      border-radius: 6px;
    }

    &__thumb {
      fill: transparent;
      stroke: $accient-400;
    }

    @media (max-width: $smDesktopWidth) {
      &:nth-child(even) {
        border-right: 1px solid $accient-100;
      }
    }
  }

  @media (max-width: $smDesktopWidth) {
    display: flex;
    flex-direction: row;
  }
}

// Header Contacts-About
.page-header__col-2 .sub-menu {
  align-self: center;

  @media (max-width: $smDesktopWidth) {
    display: flex;
    flex-direction: row;
  }

  &__link {
    min-height: unset;
    border-right: 2px solid $accient-400;

    @media (max-width: $smDesktopWidth) {
      padding-top: 20px;
      padding-bottom: 20px;

      border-radius: unset;
      border-right: none;

      &:nth-child(odd) {
        border-right: 1px solid $accient-100;
      }
    }
  }
}