.sub-menu {
  @include list-reset;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  @media (max-width: $smDesktopWidth) {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-bottom: 16px;
  }
  &__link {
    @include menu-small;

    text-transform: uppercase;
    color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    text-align: center;
    border: 2px solid transparent;
    &:hover {
      color: $accient-200;
    }

    @media (max-width: $smDesktopWidth) {
      min-height: unset;
    }
    &--accient {
      border: 2px solid rgba(218, 233, 251, 0.25);
      border-radius: 6px;
      &:hover {
        background-color: $accient-400;
        border: 2px solid $accient-400;
        color: $white;
      }
    }
    &--hidden {
      @media (max-width: $smDesktopWidth) {
        display: none;
      }
    }
  }
}

.page-header__col-1 .sub-menu {
  &__link {
    padding-top: 12px;
    padding-bottom: 12px;

    &--active {
      border: 2px solid rgba(218, 233, 251, 0.25);
      border-radius: 6px;
    }
    // &:hover {
    //   border: 2px solid rgba(218, 233, 251, 0.25);
    //   border-radius: 6px;
    // }
    @media (max-width: $smDesktopWidth) {
      &:nth-child(even) {
        border-right: 1px solid $white;
      }
    }
  }
  @media (max-width: $smDesktopWidth) {
    display: flex;
    flex-direction: row;
  }
}

// Header Contacts-About
.page-header__col-2 .sub-menu {
  align-self: center;
  @media (max-width: $smDesktopWidth) {
    display: flex;
    flex-direction: row;
  }
  &__link {
    min-height: unset;
    border-right: 2px solid $accient-400;
    @media (max-width: $smDesktopWidth) {
      padding-top: 12px;
      padding-bottom: 12px;

      border-radius: unset;
      border-right: none;

      &:nth-child(odd) {
        border-right: 1px solid $white;
      }
    }
  }
}
